.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
}

.paginationButton {
    /*padding: 8px 12px;*/
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.12);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-size: 24px;
    color: white;
}

.paginationButton:disabled {
    background: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

.paginationItem {
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.12);
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    color: white;
}

.paginationItem.active {
    background: #0e62aa;
    color: white;
    border-color: rgb(255, 255, 255);
}

.ellipsis {
    padding: 8px;
}