.container {
    margin: 0 auto;
    width: 100%;
    /*max-width: 1200px;*/
    font-size: 16px;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;

    /* Важно: контейнер занимает всю высоту экрана, чтобы скролл был только внутри таблицы */
    height: 76vh;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
}

/* таблица */
.table {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;

    /* фиксируем высоту и включаем только внутренний скролл */
    max-height: 75vh;
    overflow-y: auto;
    /*overflow-x: hidden;*/
    transition: all 0.3s ease;
    /*background: linear-gradient(135deg, #0E62AA 0%, #39B54A 100%);*/
    /*background-attachment: fixed;*/
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}

/* стили для scrollbar */
.table::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
}
.table::-webkit-scrollbar-thumb {
    background: #0E62AA;
    border-radius: 5px;
}
.table::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #0E62AA 0%, #39B54A 100%);
}

/* ===== АДАПТИВ ===== */

/* 📱 Мобильные телефоны */
@media (max-width: 600px) {
    .container {
        width: 95%;
        font-size: 14px;
        padding: 5px;

        /* фиксируем высоту и не даем странице скроллиться */
        height: 70vh;
        overflow: hidden;
    }

    .table {
        border-radius: 6px;
        box-shadow: none;

        /* внутренняя прокрутка только таблицы */
        max-height: 55vh;
        overflow-y: auto;
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        font-size: 14px;
        padding: 5px;

        /* фиксируем высоту и не даем странице скроллиться */
        height: 70vh;
        overflow: hidden;
    }

    .table {
        border-radius: 6px;
        box-shadow: none;

        /* внутренняя прокрутка только таблицы */
        max-height: 55vh;
        overflow-y: auto;
    }
}

@media (max-width: 1070px) {
    .container {
        height: 77vh;
    }

    .table {

        max-height: 74vh;
    }
}

@media (max-width: 822px) {
    .container {

        /* фиксируем высоту и не даем странице скроллиться */
        height: 77vh;
    }

    .table {
        max-height: 74vh;
    }
}

@media (max-height: 820px) {
    .container {
        height: 60vh;
    }
}

@media (max-width: 768px) {
    .container {
        height: 50vh;
    }
}

/* 📲 Планшеты */
/*@media (min-width: 601px) and (max-width: 992px) {*/
/*    .container {*/
/*        width: 90%;*/
/*        font-size: 15px;*/
/*        height: 70vh;*/
/*        overflow: hidden;*/
/*    }*/

/*    .table {*/
/*        max-height: 80vh;*/
/*    }*/
/*}*/

